%h1 Edit Twitter Notification settings

- form_tag twitter_path do
  %p
    %label{:for => 'username'} Username
    = text_field_tag 'username', @config['twitter.username'], :size => 30
  %p
    %label{:for => 'username'} Password
    = password_field_tag 'password', @config['twitter.password'], :size => 30
  %p
    %label{:for => 'username'} Base URL or host 
    = text_field_tag 'url_host', (@config['twitter.url_host'] || request.host), :size => 30
  %p.buttons
    = submit_tag 'Save settings'
  
- content_for :page_css do
  :sass
    form
      margin: 10px
      width: 400px
      padding: 10px
      background-color: #f8f8f8
      border: 1px solid #e8e8e8
    form p
      margin-bottom: 10px
    label
      float: left
      width: 150px
      padding-right: 1em
      font-weight: bold
      text-align: right
    p.buttons
      text-align: right