%h4 Twitter
%p You may notify Twitter of newly published child pages of any given page. You might use this to provide updates about your blog to friends of yours on Twitter.
%p Be sure to set the details in your configuration settings. If you're unsure about that, see your site administrator.